body {
	font-size: 30px;
	background-color: blue;
}

#first{
	background-color: yellow;
}

#third{
	background-color: aqua;
}

/*#third{
	background-color: yellow;
}*/

.group{
	font-size: 50px;
	background-color: RGB(59,117,158,1);
}

.group:hover{
	color: white;
}

